:root {
    --black: #241623; /* dark_purple */
    --gray: #c5c3bc;
    --background: white;
}

html {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    scroll-behavior: smooth;
    overflow-y: hidden;
    height: 100vh;
}

html, body {
    margin: 0;
    background: var(--background);
    color: var(--black);
}

body {
    max-width: 30rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    height: 100%;
}

body > main {
    padding: 1em 1em 1em 1em; /* T R B L */
    flex-grow: 1
}

body > footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.9em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px
}

.tile {
    border: solid var(--gray) 1px;
    border-radius: 2px;
    text-align: center;
    font-size: 3em;
    aspect-ratio: 1/1;

    /* Center letters in boxes */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    border: dashed var(--black) 1px;
}

.tile[active=true] {
    border: solid var(--black) 1px;
}

.tile[hole=true] {
    color: transparent
}

